<h1>Todo para tu Fiesta</h1>

<p>hi <%=@user.name %>, </p>

<p>
 Bienvenido a "Todo para Tu Fiesta App!, haz click en el link de abajo para activar tu cuenta:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
