<form target="_blank" name="formularioPago" method="post" action="https://www.pagofacil.net/st/public/Payform">
<input type="hidden" value="ba3b2748672431ebeebeed1327c14959a94a74be" name="idSucursal">
<input type="hidden" value="ce4287a4093e4fca1928f2cde9bf041ee7de8292" name="idUsuario">
<input type="hidden" value="1" name="idServicio">
<input type="hidden" value="1372109726" name="idPedido"> <input type="hidden" value="36" name="monto">
<input class="" name="submit" type="submit" value="compra">
</form>