@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

*{
  margin: auto;
}
.nav-nav{
  background-color: #009933;
}
.link_nav{
  color:white;
}
.link_nav:hover{
  color:black;
}

.div-home{
  margin: 350px 0;
}
a, .linki{
  color: white;
  font-size: 18px;
}
a:hover{
  color: #black;
}
.btn-here{
  background-color: #ff3333;
  color: white;
  width: 300px;
}

.div-packs{
  background-color: #e6e6e6;
  padding: 50px 0;
}
.btn-packs{
  background-color: #009933;
  color: white;
}
.div-gallery{
  background-color: #ff3333;
}

ul li {
  list-style:none;
}
ul li img {
  cursor: pointer;
  width: 100%;
  margin: 0 0 100px 0;
}
.gallery-row{
  margin: 50px 0;
  padding: 50px 0;
}

/*footer*/
iframe{
  margin: 50px 0;
}
.div-about{
  background-color: #e6e6e6;
}
.foo-reserved{  
  color: #009933;
}
.contact{
  padding: 100px;
}



.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }



/*Icons social*/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4jx6lw');
  src:  url('fonts/icomoon.eot?4jx6lw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4jx6lw') format('truetype'),
    url('fonts/icomoon.woff?4jx6lw') format('woff'),
    url('fonts/icomoon.svg?4jx6lw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-mail2:before {
  content: "\ea84";
}

.icon-google:before {
  content: "\ea88";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-whatsapp:before {
  content: "\ea93";
}





/* menu social */
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
}
.social{
  position: left;
  left: 0;
  top: 200px;
  z-index: 2000;
  position: fixed;
}
.social ul{
  list-style: none;
}
.social ul li a{
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 10px 15px;
  text-decoration: none;
  transition:all 500ms ease;
}
.social ul li .icon-facebook{
  background-color: #3b5998;
}
.social ul li .icon-whatsapp{
  background-color: #34AF23;
}
.social ul li .icon-mail2{
  background-color: #ff4343;
}

.social ul li a:hover{
  padding: 10px 10px 10px 50px;
}

.btn-submit-pack{
  background: #d93434;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #fafafa;
  font-size: 24px;
  padding: 0 30px 20px 30px;
  text-decoration: none;
}

.btn-submit-pack:hover {
  background-color: #009933;
  text-decoration: none;
}
/*Video back*/
video { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    opacity: 0.9;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    background-size: cover;
    background-position: center;
}


@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}


/*modal*/

#modal2 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
}
.modalconent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 80%;
    padding: 20px;
}



/*packs*/

/* sidebar */

aside {
  section.user_info{
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-rigth: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.ckeckbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2{
  font-size: 1.2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weigth: normal;
  color: $gray-light;
}

p{
  font-size: 1.1em;
  line-heigth: 1.7em;
}


