@import "bootstrap-sprockets";
@import "bootstrap";
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
*{
  margin: auto;
}
.nav-nav{
  background-color: #009933;
}
.link_nav{
  color:white;
}
.link_nav:hover{
  color:black;
}


/*Icons social*/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4jx6lw');
  src:  url('fonts/icomoon.eot?4jx6lw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4jx6lw') format('truetype'),
    url('fonts/icomoon.woff?4jx6lw') format('woff'),
    url('fonts/icomoon.svg?4jx6lw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-mail2:before {
  content: "\ea84";
}

.icon-google:before {
  content: "\ea88";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-whatsapp:before {
  content: "\ea93";
}

/* menu social */
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
}
.social{
  display:none;
  position: left;
  left: 0;
  top: 200px;
  z-index: 2000;
  position: fixed;
}
.social ul{
  list-style: none;
}
.social ul li a{
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 10px 15px;
  text-decoration: none;
  transition:all 500ms ease;
}
.social ul li .icon-facebook{
  background-color: #3b5998;
}
.social ul li .icon-whatsapp{
  background-color: #34AF23;
}
.social ul li .icon-mail2{
  background-color: #ff4343;
}

.social ul li a:hover{
  padding: 10px 10px 10px 50px;
}



/*packs*/

/* sidebar */

aside {
  section.user_info{
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-rigth: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.ckeckbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2{
  font-size: 1.2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weigth: normal;
  color: $gray-light;
}

p{
  font-size: 1.1em;
  line-heigth: 1.7em;
}

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}


<<<<<<< HEAD
  /*Video back*/
video { 
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    z-index: -100;
    opacity: 0.9;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    background-size: cover;
    background-position: center;
}
  /* Home */
  .div-home{
    width: 100%;
    height: 200px;
    text-align: center;
  }
  a, .linki{
    color: white;
    font-size: 18px;
  }
  a:hover{
    color: #black;
  }
  .btn-here{
    position: absolute;
    background-color: #ff3333;
    color: white;
    width: 250px;
    padding: 15px 0;
    left: 20%;
    margin: 50px 0 0 0;
    border-radius: 15px;
  }
  .btn-here:hover{
    text-decoration: none;
  }


/*div packs*/
  .div-details-packs{
    margin: 30px 0;
  }
=======
/*Pago*/
>>>>>>> 3ea28ca2ff802b20a85d51ffb6af069c8751646e

  .div-packs{
  background-color: #e6e6e6;
  padding: 50px 0;
  }
  .btn-packs{
    background-color: #009933;
    color: white;
  }
  .img-packs{
    width: 50%;
    margin: 20px 0;
  }

  /*Div gallery*/
  ul li {
  list-style:none;
    }
    ul li img {
      cursor: pointer;
      width: 100%;
      margin: 0 0 100px 0;
    }
    .gallery-row{
      margin: 10px 0;
      padding: 0px 0;
    }


.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  .div-gallery{
    background-color: #ff3333;
  } 

    /*footer*/
  iframe{
    margin: 50px 0;
  }
  .div-about{
    background-color: #e6e6e6;
  }
  .foo-reserved{  
    color: #009933;
  }
  .t-contact{
    padding: 50px 0 20px 0;
  }



  /*packages:id/tickets*/
  label{
    font-size: 16px;
  }
  .text-package{
    text-align: center;
    justify-content: center;
  }

  /*Packages*/

  .btn-submit-pack{
  background: #d93434;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #fafafa;
  font-size: 24px;
  padding: 0 30px 0px 30px;
  text-decoration: none;
  width: 250px;
  }

  .btn-submit-pack:hover {
    background-color: #009933;
    text-decoration: none;
  }

  /*last_view*/
  .title{
    margin: 40px 0;
  }
  body{
    background-color: #DCD4CF;
  }
  .btns {
    width: 70%; 
    margin: 0 auto;
  }
  .btn-payment {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 15px;
    margin: 20px 0;
    background: #49a831;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn-payment:hover {
    background: #ff3636;
    text-decoration: none;
  }
@media only screen and (min-width: 600px) {
  .btn-here{
      padding: 25px 0;
      left: 40%;
      margin: 100px 0 0 0;
    }
  /*last_view*/
  .div-home{
    width: 100%;
    height: 330px;
  }
}

<<<<<<< HEAD
@media only screen and (min-width: 1400px) {
.social{
  display:block;
  }
.div-home{
    width: 100%;
    height: 780px;
  }
  .btn-here{
  padding: 35px 0;
    left: 40%;
    margin: 250px 0 0 0;
    }
  /*last_view*/
  .btn-payment { 
    font-size: 24px;
  }
}
=======
.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child{
    border-left: none;
    background-color: #dce9f9;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

/* blue */
.blue {
  color: #d9eef7;
  border: solid 1px #0076a3;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        display: inline-block;
        font: 14px/100% Arial,Helvetica,sans-serif;
        margin: 0 2px;
        outline: medium none;
        padding: 0.5em 2em 0.55em;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        vertical-align: baseline;
}
.blue:hover {
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
  color: #80bed6;
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
  background: -moz-linear-gradient(top,  #0078a5,  #00adee);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

.orange {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        display: inline-block;
        font: 14px/100% Arial,Helvetica,sans-serif;
        margin: 0 2px;
        outline: medium none;
        padding: 0.5em 2em 0.55em;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        vertical-align: baseline;
}


.orange:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
.red {
  color: #f   addde;
  border: solid 1px #980c10;
  background: #d81b21;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
  background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        display: inline-block;
        font: 14px/100% Arial,Helvetica,sans-serif;
        margin: 0 2px;
        outline: medium none;
        padding: 0.5em 2em 0.55em;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        vertical-align: baseline;
}
.red:hover {
  background: #b61318;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
  background: -moz-linear-gradient(top,  #c9151b,  #a11115);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
  color: #de898c;
  background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
  background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

#pais {
    width: 159px;
}
>>>>>>> 3ea28ca2ff802b20a85d51ffb6af069c8751646e
